body {
  margin: 0;
}
.wrapper {
  background-color: rgb(56, 56, 56);
  display: flex;
}
.single-slide {
  display: flex;
  flex-direction: column;
  margin: 4vw auto;
}
.meme-img {
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 4vh;
  box-shadow: 5px 5px 5px rgb(31, 31, 31);
}

.meme-text {
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
}
